<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/static/img/puzzle.ico}">

    <title>로그인</title>
    <script th:src="@{/static/js/jquery-3.6.0.js}"></script>
    <link rel="stylesheet" th:href="@{/static/dist/css/bootstrap.min.css}">

    <script th:src="@{/static/assets/js/ie8-responsive-file-warning.js}"></script>
    <script th:src="@{/static/assets/js/ie-emulation-modes-warning.js}"></script>
    <link th:href="@{/static/css/carousel.css}" rel="stylesheet">
</head>
<body>
        <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script th:inline="javascript">
            $(document).ready(function(){
                var qryParam = location.search;
                var params = new URLSearchParams(qryParam);

                var errMsg = params.get('login_fail');
                if(errMsg != null && errMsg != ""){
                    alert(errMsg);
                }

            });

<!--            document.addEventListener("DOMContentLoaded", function(){      -->
<!--            });-->
            function popUpLogin(){
              window.open("/main","로그인","width=600, height=500");
            }
            function popUpSignIn(){
              window.open("/main/register","회원가입","width=600, height=500");
            }
            function changeMainPage(pagePath){
               console.log('페이지 변경');
               $('#content').children().remove();
               $('#content').load(pagePath);
            }
        </script>



        <!--<th:block th:replace="fragments/header :: headerFragment"></th:block> -->
        <!--<th:block th:replace="fragments/navigator :: navigatorFragment"></th:block> -->
        <div class = "container" style = "max-width: 600px; padding-left : 100px">
            <div class = "py-5 text-center">
                <h1 class = "h1" >TOY PROJECT</h1>
            </div>

            <form action = "/main/loginGo" id = "login_info" method = "post">
                <table class = 'table'>
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div id = 'idLabel' class = 'idLabel'> 아이디</div>
                            </td>
                            <td colspan="2" style = 'width : 80%'>
                                <input type = "text" name="id">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id = 'pwLabel' class = 'pwLabel'> 비밀번호 </div>
                            </td>
                            <td colspan="2" style = 'width : 80%'>
                                <input type = "password" name="password">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="submit" value = "로그인" class="w-100 btn btn-primary btn-lg" >
                            </td>
                            <td>
                                <input type="reset" value = "초기화" class="w-100 btn btn-primary btn-lg" >
                            </td>
                            <td>
                                <button type ="button" id = "register" class="w-100 btn btn-primary btn-lg"
                                        onClick="location.href='/main/register'">회원가입</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div style = "position: absolute; right: 0px; bottom: 0px; margin-right : 50px">
            <th:block th:replace="fragments/footer :: footerFragment"></th:block>
        </div>
</body>
</html>