<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/static/img/puzzle.ico}">

    <title>회원가입</title>
    <script th:src="@{/static/js/jquery-3.6.0.js}"></script>
    <link rel="stylesheet" th:href="@{/static/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/custom/css/custom.css}">
    <script th:src="@{/static/assets/js/ie8-responsive-file-warning.js}"></script>
    <script th:src="@{/static/assets/js/ie-emulation-modes-warning.js}"></script>
    <link th:href="@{/static/css/carousel.css}" rel="stylesheet">
</head>

<body>
       <h1 style = "padding-left : 40% ">회원가입</h1>
       <div class = "container" style = "max-width: 600px">
       <form action = "/main/register" name = "register_info" method = "post">
           <table class = "table">
               <tbody>
                    <tr>
                        <td>
                            <div id = 'idLabel' class = 'customInputLabel'> 아이디</div>
                        </td>
                        <td colspan="2" style = 'width : 80%'><input type = "text" class = 'customInput' name="id" placeholder="아이디를 입력하세요."></td>
                    </tr>
                    <tr>
                        <td>
                            <div class = 'customInputLabel'> 이름 </div>
                        </td>
                        <td colspan="2" style = 'width : 80%'><input type = "text" class = 'customInput' name="username" placeholder="이름을 입력하세요."></td>
                    </tr>
                    <tr>
                        <td>
                            <div class = 'customInputLabel'> 비밀번호 </div>
                        </td>
                        <td colspan="2" style = 'width : 80%'><input type = "text" class = 'customInput' name="password" placeholder="비밀번호를 입력하세요."></td>
                    </tr>
                    <tr>
                        <td><input class="w-100 btn btn-warning btn-lg" type="reset" value = "초기화"></td>
                        <td><button class="w-100 btn btn-info btn-lg" id = "register">회원가입</button></td>
                    </tr>
               </tbody>
           </table>
       </form>
       </div>
</body>
</html>