<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/static/img/puzzle.ico}">

    <title>회원가입</title>
    <script th:src="@{/static/js/jquery-3.6.0.js}"></script>
    <link rel="stylesheet" th:href="@{/static/dist/css/bootstrap.min.css}">

    <script th:src="@{/static/assets/js/ie8-responsive-file-warning.js}"></script>
    <script th:src="@{/static/assets/js/ie-emulation-modes-warning.js}"></script>
    <link th:href="@{/static/css/carousel.css}" rel="stylesheet">
</head>

<body>
       <h1 style = "padding-left : 40% ">회원가입</h1>
       <div class = "container" style = "max-width: 600px">
       <form action = "/main/register" name = "register_info" method = "post">
           <table class = "table">
               <tbody>
                    <tr>
                        <td>아이디</td>
                        <td><input type = "text" name="id"></td>
                    </tr>
                    <tr>
                        <td>이름</td>
                        <td><input type = "text" name="username"></td>
                    </tr>
                    <tr>
                        <td>비밀번호</td>
                        <td><input type = "text" name="password"></td>
                    </tr>
                    <tr>
                        <td><input class="w-100 btn btn-primary btn-lg" type="reset" value = "초기화"></td>
                        <td><button class="w-100 btn btn-primary btn-lg" id = "register">회원가입</button></td>
                    </tr>
               </tbody>
           </table>
       </form>
       </div>
</body>
</html>