.customInputLabel {
  margin-top: 10px;
}

.customInput {
  background-color: #eee;
  border: none;
  padding: 10px 15px;
  width: 100%;
  border-radius: 5px;
}

.loginLabel {
  margin-top : 15px;
  color : aliceblue;
}