<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/static/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <title>게시판목록</title>
</head>
<body>
<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript">
    var pageCnt = [[${pageCnt}]];
    document.addEventListener("DOMContentLoaded", function(){
        if(pageCnt > 1){
            for(var i = 0 ; i < pageCnt ; i++){
                var tagInfo = "<a href='/board/"+parseInt(i+1)+"'>["+parseInt(i+1)+"] </a>";
                //var tagInfo = "<a href='/board'>["+parseInt(i+1)+"] </a>";
                $('#pageCnt').append(tagInfo);
            }
        }
    });
</script>
<h1 th:text="${session.loginId}"></h1>님 로그인 중입니다. <br><br>
<table class = "table">
    <thead>
    <tr>
        <th th:text="#{label.no}">번호</th>
        <th>제목</th>
        <th>설명</th>
        <th th:text="#{label.id}">작성자아이디</th>
        <th th:text="#{label.name}">작성자명</th>
        <th>수정일자</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${boardList}">
        <td><a th:href="@{/board/detail/{boardSeq}(boardSeq=${board.seq})}" th:text="${board.seq}"></a></td>
        <td><a th:href="@{/board/detail/{boardSeq}(boardSeq=${board.seq})}" th:text="${board.title}"></a></td>
        <td th:text="${board.content}"></td>
        <td th:text="${board.id}"></td>
        <td th:text="${board.username}"></td>
        <td th:text="${board.updateDate}"></td>
    </tr>
</tbody>
</table>
<button type ="button" id = "register" onClick="lcation.href='/board/registerForm'">게시글 작성</button>
<br>
<br>
<div id = "pageCnt"></div>

</body>
</html>