<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/static/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <title>게시글 상세</title>
</head>
<body>
<div class = "container" style = "max-width: 600px">
    <table class = "table">
        <thead>
        <tr>
            <th colspan="2">게시글 상세보기</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>순번</td>
                <td><input type = "text" th:value ="${board.seq}" readonly/></td>
            </tr>
            <tr>
                <td>제목</td>
                <td><input type = "text" th:value ="${board.title}"/></td>
            </tr>
            <tr>
                <td>내용</td>
                <td><input type = "text" th:value ="${board.content}"/></td>
            </tr>
            <tr>
                <td>작성자</td>
                <td><input type = "text" th:value ="${board.id}" readonly/></td>
            </tr>
            <tr>
                <td>사진명</td>
                <td><input type = "text" th:value ="${board.fileName}" readonly/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <img th:src="@{/static/img/ddangko/ddangko.PNG}" widht="100%" height = "300px">
                </td>
            </tr>
            <tr>
                <td>
                    <button type = "button" class="w-100 btn btn-primary btn-lg">수정</button>
                </td>
                <td>
                    <button type = "button" class="w-100 btn btn-warning btn-lg">삭제</button>
                </td>
            </tr>
        </tbody>
    </table>
    <!--
    <img th:src="${board.fileName}" widht="100" height = "100">  1 <br>
    <img src = "C:\\Temp\\upload\\ddanko.png" widht="100" height = "100"> 2<br>
    <img th:src="@{/static/img/ddangko/ddangko.PNG}" widht="100" height = "100"> 3<br>
    -->
</div>
</body>
</html>