<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <title>게시판목록</title>
</head>
<body>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(){
        console.log("로딩");
    });
</script>
게시판목록입니다.
<table class = "table">
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>설명</th>
        <th>작성자아이디</th>
        <th>작성자명</th>
        <th>수정일자</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${boardList}">
        <td th:text="${board.seq}"></td>
        <td th:text="${board.title}"></td>
        <td th:text="${board.content}"></td>
        <td th:text="${board.id}"></td>
        <td th:text="${board.username}"></td>
        <td th:text="${board.updateDate}"></td>
    </tr>
    </tbody>
</table>


<button type ="button" id = "register" onClick="location.href='/board/registerForm'">게시글 작성</button>
</body>
</html>