<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <title>게시글 상세</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th colspan="2">게시글 상세보기</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>제목</td>
                <td><input type = "text" th:value ="${board.title}"/></td>
            </tr>
            <tr>
                <td>내용</td>
                <td><input type = "text" th:value ="${board.content}"/></td>
            </tr>
        </tbody>
    </table>


</body>
</html>