<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/static/img/puzzle.ico}">

    <title>CONTACT</title>
    <script th:src="@{/static/js/jquery-3.6.0.js}"></script>
    <link rel="stylesheet" th:href="@{/static/dist/css/bootstrap.min.css}">

    <script th:src="@{/static/assets/js/ie8-responsive-file-warning.js}"></script>
    <script th:src="@{/static/assets/js/ie-emulation-modes-warning.js}"></script>
    <link th:href="@{/static/css/carousel.css}" rel="stylesheet">
  </head>

  <script th:inline="javascript">

            function popUpLogin(){
              window.open("/main","로그인","width=600, height=500");
            }
            function popUpSignIn(){
              window.open("/main/register","회원가입","width=600, height=500");
            }
  </script>
  <body>

    <div class="container marketing">
      <div class="row">
        <p> CONTACT </p>
      </div>
    </div>



    <script th:src="@{/static/dist/js/bootstrap.min.js}"></script>
    <script th:src="@{/static/assets/js/docs.min.js}"></script>
    <script th:src="@{/static/assets/js/ie10-viewport-bug-workaround.js}"></script>
  </body>
</html>
